.hoverable-div {
    transition:
        background 1s ease-in-out,
        margin 1s ease-in-out,
        border-radius .5s ease-in-out,
        border .5s ease-in-out,
        color .2s ease-in-out;
    padding: 1em 2em;
    border: 1px solid transparent;
    color: color-mix(in srgb, var(--foreground), var(--background) 50%);

    &:is(:hover, :focus-visible) {
        background: #550066;
        margin-top: 1em;
        border-radius: 1em;
        border: 1px solid var(--foreground);
        color: var(--foreground);
    }
}
