.dialog {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate3d(-50%, -50%, 0);
    border: 1px solid var(--stroke);
    border-radius: .25em;

    &::backdrop {
        background: #000;
        opacity: .5;
    }
}

.dialog-container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    & > .dialog-header {
        display: flex;
        justify-content: end;
    }
}
