:root {
    font-family: sans-serif;
    font-size: 14px;
    --background: light-dark(#eee, #111);
    --foreground: light-dark(#111, #eee);
    --background-secondary: color-mix(in hsl, var(--background), light-dark(#000, #fff) 20%);
    --background-hover: color-mix(in hsl, var(--background), light-dark(#000, #fff) 40%);
    --stroke: color-mix(in hsl, var(--background), light-dark(#000, #fff) 40%);
    --accent: light-dark(#00a, #0be);
}

body {
    background: var(--background);
    color: var(--foreground);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.25em;
}

ul,
ol,
dl {
    padding-left: 1.5em;
}

li {
    margin: 0.5em 0;
}

p {
    margin: 1em 0;
    text-align: justify;
}

i {
    font-style: italic;
}

code {
    padding: 0 .2em;
    border: 1px solid var(--stroke);
    border-radius: .3em;
    background: var(--background-secondary);
    font-family: monospace;
}

pre {
    padding: .1em .2em;
    border: 1px solid var(--stroke);
    border-radius: .3em;
    background: var(--background-secondary);

    /* There was a better way for this, but I forgot what it was */
    &>code {
        padding: unset;
        border: unset;
        border-radius: unset;
        background: unset;
    }
}

blockquote {
    padding: .5em 1em;
    font-size: .9em;
    background: color-mix(in hsl, var(--background), light-dark(#000, #fff) 10%);
    color: color-mix(in hsl, var(--foreground), light-dark(#fff, #000) 10%);
    border-left: 5px solid var(--stroke);
    text-align: justify;
}

input[type="radio"] {
    width: 1em;
    height: 1em;
    appearance: none;
    position: relative;
    cursor: pointer;

    &::before,
    &:checked::after {
        content: " ";
        position: absolute;
        display: inline-block;
    }

    &::before {
        left: 0;
        top: 0;
        width: 1em;
        height: 1em;
        background: var(--background-secondary);
        border: 1px solid var(--stroke);
        border-radius: .5em;
        transition: background .1s ease-in-out;
    }

    &:is(:hover, :focus-visible)::before {
        background: var(--background-hover);
    }

    &:checked::after {
        left: .2em;
        top: .2em;
        width: .6em;
        height: .6em;
        background: var(--accent);
        border-radius: .4em;
    }
}

button, input[type="button"] {
    cursor: pointer;
    background: var(--background-secondary);
    transition: background .1s ease-in-out;
    border: 1px solid var(--stroke);
    border-radius: .1em;
    padding: .1em .2em;

    &:is(:hover, :focus-visible) {
        background: var(--background-hover);
    }

    /* TODO: :active */
}

label:has(input) {
    cursor: pointer;

    & :nth-child(2) {
        margin-left: .5em;
    }
}
