.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border: 1px solid var(--stroke);
    width: 25vw;
}

.box {
    width: 3em;
    height: 3em;
    background-color: red;
    animation: 1s linear animation1,
        1s linear animation2;
    animation-fill-mode: both;
}

.box2 {
    animation-composition: add;
}

.box3 {
    animation-composition: accumulate;
}

@keyframes animation1 {
    from {
        transform: tranlsateX(0px);
    }

    to {
        transform: translateX(40px);
    }
}

@keyframes animation2 {
    from {
        transform: tranlsateX(0px);
    }

    to {
        transform: translateX(80px);
    }
}
