.container {
    height: 100%;
    display: grid;
    place-items: center;
}

.viewport {
    border: 1px solid white;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    height: 80vh;
    padding: 0;
}

.camera {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 550px;

    & * {
        position: absolute;
        transform-style: preserve-3d;
        transform-origin: center center;
    }
}

.floor {
    width: 400vw;
    height: 400vw;
    background: url('doomFloor.png');
    background-size: 50vw 50vw;
    transform: translateY(-150vw) rotateX(90deg);
}

.closing-walls {
    & > div {
        width: 400vw;
        height: 100vw;
        background: url('doomWall.png');
        background-size: 50vw 50vw;

        &:nth-child(1) {
            transform: rotateY(0deg) translate3d(0, -50vw, 200vw);
        }

        &:nth-child(2) {
            transform: rotateY(90deg) translate3d(0, -50vw, 200vw);
        }

        &:nth-child(3) {
            transform: rotateY(180deg) translate3d(0, -50vw, 200vw);
        }

        &:nth-child(4) {
            transform: rotateY(270deg) translate3d(0, -50vw, 200vw);
        }
    }

}

.ceiling {
    width: 400vw;
    height: 400vw;
    background: url('doomCeiling.png');
    background-size: 50vw 50vw;
    transform: translateY(-250vw) rotateX(90deg);
}

.player {
    width: 100%;
    height: 100%;
}

.central-pillar {
    transform: translate3d(200vw, -50vw, 00vw);

    &>div {
        width: 20vw;
        height: 100vw;
        background: url('doomWall.png');
        background-size: 50vw 50vw;

        &:nth-child(1) {
            transform: rotateY(0deg) translate3d(0, 0, 17vw);
        }

        &:nth-child(2) {
            transform: rotateY(60deg) translate3d(0, 0, 17vw);
        }

        &:nth-child(3) {
            transform: rotateY(120deg) translate3d(0, 0, 17vw);
        }

        &:nth-child(4) {
            transform: rotateY(180deg) translate3d(0, 0, 17vw);
        }

        &:nth-child(5) {
            transform: rotateY(240deg) translate3d(0, 0, 17vw);
        }

        &:nth-child(6) {
            transform: rotateY(300deg) translate3d(0, 0, 17vw);
        }
    }
}
