.portrait-mode-dialog {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.portrait-mode-dialog .phone-animation {
    position: relative;
    width: 100px;
    height: 100px;
}

.portrait-mode-dialog .phone-animation img {
    width: 100px;
    height: 100px;
}

.portrait-mode-dialog .phone {
    position: absolute;
    animation: 2s phone-rotate linear infinite;
}

.portrait-mode-dialog .arrow {
    position: absolute;
    top: -30px;
    right: -35px;
}

.portrait-mode-dialog .info {
    text-align: center;
    line-height: 1.5;
}

@keyframes phone-rotate {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
        transform: rotateZ(0deg);
    }

    70% {
        transform: rotateZ(90deg);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotateZ(90deg);
    }
}

@media (orientation: portrait) {
    .portrait-mode-dialog {
        display: flex;
    }
}
