.container {
    display: flex;
    height: 50vh;
    justify-content: center;
}

.mario {
    height: 100%;
    aspect-ratio: 1 / 1;
    transform-style: preserve-3d;
    perspective: 550px;
    transform: rotateX(-25deg);
    position: relative;

    & * {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    & .platform-1, & .platform-2 {
        width: 10vh;
        height: 10vh;
        background-image: url('platform.png');
    }

    & .platform-1 {
        transform: translateY(40vh) rotateX(90deg);
    }

    & .platform-2 {
        transform: translate3d(35vh, 40vh, 0) rotateX(90deg);
    }

    & .mario-animation {
        --idle-height: 35vh;
        --jump-height: 20vh;
        --image-idle: url('mario-idle.png');
        --image-jump: url('mario-jump.png');
        width: 10vh;
        height: 10vh;
        animation: 2s jump linear infinite;
        animation-delay: .5ss;
        transform: translate3d(0, 35vh, 0);
        background-image: url('mario-idle.png');
    }

    & .turtle-animation {
        --idle-height: 30vh;
        --jump-height: 0vh;
        --image-idle: url('turtle-idle.png');
        --image-jump: url('turtle-jump.png');
        width: 10vh;
        height: 15vh;
        animation: 2s jump linear infinite;
        animation-delay: -1s;
        transform: translate3d(40vh, 30vh, 0);
        background-image: url('turtle-idle.png');
    }
}

@keyframes jump {
    0% {
        transform: translate3d(0, var(--idle-height), 0);
        background-image: var(--image-idle);
    }

    1% {
        background-image: var(--image-jump);
    }

    25% {
        transform: translate3d(17.5vh, var(--jump-height), 0);
    }

    44% {
        background-image: var(--image-jump);
    }

    45% {
        transform: translate3d(35vh, var(--idle-height), 0);
        background-image: var(--image-idle);
    }

    49% {
        transform: translate3d(35vh, var(--idle-height), 0) scaleX(1);
    }

    50% {
        transform: translate3d(35vh, var(--idle-height), 0) scaleX(-1);
        background-image: var(--image-idle);
    }

    51% {
        background-image: var(--image-jump);
    }

    75% {
        transform: translate3d(17.5vh, var(--jump-height), 0) scaleX(-1);
    }

    94% {
        background-image: var(--image-jump);
    }

    95% {
        transform: translate3d(0, var(--idle-height), 0) scaleX(-1);
        background-image: var(--image-idle);
    }

    99% {
        transform: translate3d(0, var(--idle-height), 0) scaleX(-1);
    }
}
