.marios {
    display: flex;
    justify-content: center;

    & .container {
        width: 60vw;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    & .running-track {
        border: 1px solid var(--stroke);
        background:
            left top / 15px 100% no-repeat linear-gradient(to right, blue, transparent),
            right top / 15px 100% no-repeat linear-gradient(to left, orange, transparent);
    }

    & .mario {
        animation: mario-running .5s linear infinite,
            run 2s infinite;
        width: 2em;
        height: 2em;
        background-size: 2em 2em;
        background-repeat: no-repeat;
    }

    & .mario-linear .mario {
        animation-timing-function: linear, linear;
    }
    & .mario-linear1 .mario {
        animation-timing-function: linear, linear(0% 0, 50% 0.3 100% 1);
    }
    & .mario-linear2 .mario {
        animation-timing-function: linear, linear(0% 0, 33% 0.75, 66% 0.25, 100% 1);
    }

    & .mario-ease .mario {
        animation-timing-function: linear, ease;
    }
    & .mario-ease-in .mario {
        animation-timing-function: linear, ease-in;
    }
    & .mario-ease-out .mario {
        animation-timing-function: linear, ease-out;
    }
    & .mario-ease-in-out .mario {
        animation-timing-function: linear, ease-in-out;
    }
    & .mario-bezier .mario {
        animation-timing-function: linear, cubic-bezier(0.15, 0.85, 0.85, 0.25);
    }

    & .mario-step-start .mario {
        animation-timing-function: linear, step-start;
    }
    & .mario-step-end .mario {
        animation-timing-function: linear, step-end;
    }
    & .mario-step-jump-start .mario {
        animation-timing-function: linear, steps(3, jump-start);
    }
    & .mario-step-jump-end .mario {
        animation-timing-function: linear, steps(3, jump-end);
    }
    & .mario-step-jump-none .mario {
        animation-timing-function: linear, steps(3, jump-none);
    }
    & .mario-step-jump-both .mario {
        animation-timing-function: linear, steps(3, jump-both);
    }
}

@keyframes mario-running {
    0% {
        background-image: url('./mario-walk1.png');
    }
    33% {
        background-image: url('./mario-walk2.png');
    }
    66% {
        background-image: url('./mario-walk3.png');
    }
    100% {
        background-image: url('./mario-walk1.png');
    }
}

@keyframes run {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(60vw - 2em));
    }
}
